@tailwind base;
@tailwind components;
@tailwind utilities;

#root, body, html {
    height: 100%;
    /* background-color: #1a1a1a; */
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
}